if BOARD_DENEME_BOARD_NRF52840

config BOARD
    default "deneme_board_nrf52840"

config NORDIC_QSPI_NOR
    bool
    default y

config SYS_CLOCK_EXISTS
    bool
    default y

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config UART_NRFX
    default y

config ADC_NRFX_SAADC
    default y


endif # BOARD_DENEME_BOARD_NRF52840