/*
 * Copyright (c) 2025 Your Company
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    chosen {
        zephyr,flash = &flash0;
        //zephyr,code-partition = &slot0_partition;
        zephyr,console = &uart0;
        zephyr,shell-uart = &uart0;
        zephyr,uart-mcumgr = &uart0;
    };
    
    aliases {
        watchdog0 = &wdt0;
        pdm-dev = &pdm0;
    };
};

/* UART Configuration */
&uart0 {
    compatible = "nordic,nrf-uarte";
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart0_default>;
    pinctrl-1 = <&uart0_sleep>;
    pinctrl-names = "default", "sleep";
};

/* QSPI Configuration */
&qspi {
    status = "okay";
    pinctrl-0 = <&qspi_default>;
    pinctrl-1 = <&qspi_sleep>;
    pinctrl-names = "default", "sleep";
    qspi_flash: gd25q16@0 {
        compatible = "nordic,qspi-nor";
        reg = <0>;
        sck-frequency = <8000000>;
        size = <16777216>;
        jedec-id = [c8 40 15];
        writeoc = "pp4io";
        readoc = "read4io";
    };
};

/* PDM Configuration */
dmic_dev: &pdm0 {
	status = "okay";
	pinctrl-0 = <&pdm0_default_alt>;
	pinctrl-names = "default";
	clock-source = "PCLK32M_HFXO";
};
